/* src/App.css */
.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

.App-instructions {
  margin-bottom: 20px;
}

.App {
  text-align: center;
}
